.otp-input input {
  outline: none;
  width: 60px;
  padding: 12px;
  font-size: 22px;
  border: none;
  margin-left: 10px;
  text-align: center;
}

.otp-input input:first-child {
  margin-left: 0;
}
.otp-input input:focus {
  outline: none
}

.otp-input {
  display: flex;
  align-items: center;
}

.otp-input div span {
  padding: 0 0px 0 10px;
  font-size: 30px;
}