.otp-input input {
  outline: none;
  width: 60px;
  padding: 12px;
  font-size: 22px;
  border: none;
  margin-left: 10px;
  text-align: center;
}

.otp-input input:first-child {
  margin-left: 0;
}
.otp-input input:focus {
  outline: none
}